<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<div class="container">
  <div class="signup form">
    <header>Signup</header>
    <form>
      <input type="text" id="user_signup" required placeholder="Enter your username">
      <input type="password" id="pass_signup" required placeholder="Create a password">
      <button type="submit" class="button">
        Signup
      </button>
    </form>
    <div class="cta">
          <span>Already have an account?
          <a href="/login">Login</a>
          </span>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>

  const signupForm = document.querySelector(".signup form");

  signupForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    const inputs = document.querySelectorAll(".signup form input");


    const username = inputs[0].value;
    const password = inputs[1].value;


    try {
      const response = await fetch("/auth/signup", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ username, password })
      });

      if (!response.ok) {
        throw new Error("Login failed");
      }

      const data = await response.json();
      const accessToken = data.access_token;
      Cookies.set("access_token", accessToken, { secure: true, sameSite: "Strict" });
      globalThis.location.pathname = "/";

    } catch (error) {
      console.error("Login failed", error);
    }


  });


</script>

</body>
</html>

